
if SHIELD_ELLE_DONGLE

config ZMK_KEYBOARD_NAME
	default "Elle"
	
config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
endif

if SHIELD_ELLE_LEFT || SHIELD_ELLE_RIGHT || SHIELD_ELLE_DONGLE 

config ZMK_SPLIT
	default y
	
endif