config ZMK_BLE
	default y


if SHIELD_ELLE_RIGHT

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_KEYBOARD_NAME
	default "_elle"

endif # SHIELD_ELLE_LEFT


if SHIELD_ELLE_LEFT || SHIELD_ELLE_RIGHT

config ZMK_SPLIT
	default y

endif # SHIELD_ELLE_LEFT || SHIELD_ELLE_RIGHT
